<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="./js/landingpage.js"></script>
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="./css/popup.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <title>LandingPage</title>
</head>

<body>
  <section class="lp-Line1">
    <article>
      <h1>Fortnite</h1>
      <img src="../images/fortnite.jpg" />
        <a href="/fortniteHome"><button class="testing">Open project</button></a>
    </article>
    <article>
      <h1>Magic the gathering</h1>
      <img src="../images/magic.jpg" />
      <button class="testing" onclick="openPopup()" >Open project</button>
    </article>
  </section>
  <section class="lp-Line1">
    <article>
      <h1>Lord of the rings</h1>
      <img src="../images/ring.jpg" />
      <button class="testing" onclick="openPopup()">Open project</button>
    </article>
    <article>
      <h1>Pokemon</h1>
      <img src="../images/pokemon.jpg" />
      <button class="testing" onclick="openPopup()">Open project</button>
    </article>
  </section>
  <section class="lp-Line1">
    <article>
      <h1>Lego Masters</h1>
      <img src="../images/lego.jpg" />
      <button class="testing" onclick="openPopup()">Open project</button>
    </article>
    <article>
      <h1>NBB</h1>
      <img src="../images/bank.jpg" />
      <button class="testing" onclick="openPopup()">Open project</button>
    </article>
  </section>

  <div class="popup" id="modal">
    <div class="title">You shall not pass<button class="close-button" onclick="closePopup()">&times;</button></div>
    <div class="modal-body">
      You don't have permission to open this project.
    </div>
  </div>
  <div id="overlay" onclick="closePopup()"></div> 

</body>
</html>
