<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/header.css" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <title>Login</title>
</head>

<body>
  <section class="avatarPic">
    <img src="../images/vraagteken.png" />
  </section>
  <input class="inputheader" type="checkbox" id="toggle">
  <nav id="navlogin">
    <label class="navbar-toggler" for="toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </label>
    <ul class="nav-list" id="navlistlogin">
      <a class="nav-link" href="/">
        <li class="nav-item">Landing Page</li>
      </a>
      <a class="nav-link" href="/register">
        <li class="nav-item">Register</li>
      </a>
    </ul>
  </nav>
  <div class="login-page">
    <div class="form">
      <form action="/login" class="login-form" method="post">
        <input type="text" name="name" placeholder="username" />
        <input type="password" name="password" placeholder="password" />
        <button>Login</button>
        <% if(locals.message) { %>
          <br>
          <br>
          <h1>
            <%=message %>
          </h1>
          <%}%>
      </form>
    </div>
  </div>
  <%- include('partials/footer.ejs') %>