<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/header.css" />

  <title>Document</title>
</head>

<body>
  <section class="avatarPic">
    <img src="../images/vraagteken.png" />
  </section>
  <input class="inputheader" type="checkbox" id="toggle">
  <nav id="navregister">
    <label class="navbar-toggler" for="toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </label>
    <ul class="nav-list" id="navlistregister">
      <li class="nav-item"><a class="nav-link" href="/">Landing Page</a></li>
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
    </ul>
  </nav>
  <div class="login-page">
    <div class="form">
      <form action="/register" class="login-form" method="post">
        <input type="text" name="name" placeholder="username" />
        <input type="password" name="password" placeholder="password" />
        <button>Register</button>
        <% if(locals.message) {%>
          <%=message%>
          <%}%>
      </form>
    </div>
  </div>
  <footer>
    <section>
      <h2>Copyright &copy;MSI - Ramazan Sofyan Dachi Rachad</h2>
    </section>
    <section>
      <img src="../images/ap.png">
    </section>
  </footer>
</body>

</html>