/**,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(0, 0, 0, 0.845);
  height: 100vh;
}


.blacklistLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.blacklistLayout p:nth-child(4){
  padding: 10px;
  border: #6fb1fc 2px solid;
  border-radius: 10px;
  
}
.blacklistLayout p:nth-child(2){
  margin-top: 10px;
}
  
.blacklistLayout ul {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blacklistLayout li {
  text-align: center;
  list-style-type: none;
  flex-basis: 40%;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;

}
.blacklistLayout li > img {
  border-radius: 10px;
  background: linear-gradient(to right, #4364f7, #6fb1fc);
}

.blacklistLayout img {
  width: 250px;
  height: 250px;
}

.blacklistLayout p {
  color: white;
}

.blacklistLayout form {
  display: flex;
  border-radius: 10px;
}

.blacklistLayout textarea {
  flex-grow: 1;
  padding: 5px;
  border-radius: 10px;
}

.blacklistLayout button {
  margin-left: 10px;
  padding: 0.56rem;
  background-color: #6fb1fc;

}
.buttonblacklist  {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.buttonblacklist textarea {
  width: 400px;
}
button {
  border-radius: 10px;

}

/*------------------------------------------------------Media queries---------------------------------------------------------

@media only screen and (max-width: 675px) {
  .buttonblacklist{
    flex-direction: column;
    
  }
  .blacklistLayout form {
    display: block;
    padding-top: 2px;

  }
  }
  */
  *,
*::after,
::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.845);
  height: 100vh;
}

.avatarPic img {
  height: 100px;
  width: 100px;
  margin-top: 0;
}

.blacklistLayout {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.blacklistLayout ul {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.blacklistLayout li {
  text-align: center;
  list-style-type: none;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
}

.blacklistLayout li > img {
  border-radius: 10px;
  background: linear-gradient(to right, #4364f7, #6fb1fc);
}

.blacklistLayout img {
  width: 250px;
  height: 250px;
}

.blacklistLayout p {
  color: white;
}

.blacklistLayout form {
  display: flex;
}

.blacklistLayout textarea {
  flex-grow: 1;
  padding: 5px;
  border-radius: 10px;
}

.blacklistLayout button {
  margin-left: 10px;
  padding: 0.56rem;
  background-color: #6fb1fc;
}

.buttonblacklist {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.buttonblacklist textarea {
  width: 400px;
}

button {
  border-radius: 10px;
}

/*------------------------------------------------------Media queries---------------------------------------------------------*/

@media only screen and (max-width: 1100px) {
.blacklistLayout li {
  width: 100%; /* set width to 100% to display one column per item */
}
}
@media only screen and (max-width: 675px) {
  .buttonblacklist {
    flex-direction: column;
  }
  

  .blacklistLayout form {
    display: block;
    padding-top: 2px;
  }
}