html body {
  background-color: rgba(0, 0, 0, 0.845);
}

.charTabel {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.charSolo h1 {
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 15px;
}

.charSolo div{
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80vw;
}
.articleAvatar{
  display: flex;
  justify-content: space-evenly;
}
.backPick{
  width: 25%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.questionmarkFavoriet {
  width: 16%;
  max-height: auto;
}
.testingChar {
  text-align: center;
  
}
.testingChar a {
  text-decoration: none;
  color: white;
}

.testingChar h1 {
  color: wheat;
}

.avatarPic img {
  height: 100px;
  width: 100px;
  margin-top: 0;
}

/*------------------------------------------------------Media queries---------------------------------------------------------*/
@media all and (max-width: 675px) {
  .articleAvatar{
    flex-direction: column;
    align-items: center;
  
      
  }
   .articleAvatar  img{
    height: auto;
    width: 200px;
  }
  }
