footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(58, 58, 58);
    padding: 20px;
    color: white;
    border-radius: 25px;
    font-size: 1.25rem;

}
footer img{
    height: 20px;
    width: 40px;
    margin-left: 20px;
}