/*HEADER*/
/*LOGO*/
.avatarPic{
  text-align: center;
}
.avatarPic img{
  height: 100px;
  width: 100px;
}
/*MENU*/
.browser{
  display: contents;
}
.ipad{
  display: none;
}
nav {
  background-color: rgb(58, 58, 58);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
}

nav ul {
  
  list-style-type: none;
  gap: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

nav li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

nav li a:hover {
  color: #6fb1fc;
}

nav li a:active {
  color: #03428b;
}

/*RESPONSIVE MENU*/

/*IPAD*/
@media only screen and (max-width: 820px) {
  .browser{
    display: none;
  }
  .ipad{
    display: contents;
  }
}

/*GSM*/
@media only screen and (max-width: 675px) {
  nav {
    background-color: rgb(58, 58, 58);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
  }
  
  nav ul {
    list-style-type: none;
    margin-left: 20%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .browser{
    display: contents;
  }
  .ipad{
    display: none;
  }
  .avatarPic img{
    height: 50px;
    width: 50px;
  }
  
}

