*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(0, 0, 0, 0.845);
  height: 100vh;
}
ul li {
  color: white;
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size:600;
}
.textForm {
  color: azure;
}
.avatarPic img {
  height: 50px;
  width: 50px;
  margin-top: 0;
}
.avatarInfoFav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.infoAvatars p {
  color:lightsalmon;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.infoForm{
  text-align: center;
  padding-top: 1rem;
}
.titleForm{
  color: white;
}
.infoForm textarea{
  width: 20rem;
}
#thumbs-up{
  color: green;
}
#thumbs-down{
  color: red;
}
.charTabel img{
  width: 250px;
  height: 250px;
}
.testing{
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemTitle{
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}
.itemName{
  align-items: center;
  color: white;
}
.charSolo{
  border: 1px solid white;
}
.itemTopName{
  text-align: center;
  color: aliceblue;
  text-decoration: underline;
  text-transform: uppercase;
}
.formSendButton{
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.formSendButton input{
  text-transform: uppercase;
  cursor: pointer;
}
.formSendButton input:hover{
  text-transform: uppercase;
  background-color: brown;
}
.TitleInputForm{
  text-align: center;
  border-top: 1px solid white;
}
.profile__image{
  width: 400px;
  height: 400px;
}