*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;

}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  letter-spacing: 0.25rem;
  word-spacing: 0.25rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(8px);
  z-index: 2;
  animation: fadeIn 0.75s;
}
@keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
div.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  animation: fadeIn 2s;
}

/*------------------------------------------------------LandingPage structure---------------------------------------------------------*/
.lp-Line1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  padding: 2rem 0rem;
}

.lp-Line1 article {
  width: 50%;
  margin: 1rem 0rem;
  position: relative;
}

.lp-Line1 img {
  width: 70%;
  height: auto;
}



.testing:hover {
  background-color: brown;
  font-size: 600;
  font-weight: bold;
}

.testing {
  background-color: #6fb1fc;
  padding: 10px;
  border-radius: 50px;
  /*transform: translateY(-500%);*/
  border: solid black 2px;
  position: absolute;
  top: 50%;
  left: 44%;
}

a {
  text-decoration: none;
}

/*------------------------------------------------------Media queries---------------------------------------------------------*/

@media all and (max-width: 1440px) {
  h1 {
    font-size: 2rem;
  }
}

@media all and (max-width:1220px) {
  h1 {
    font-size: 2rem;
  }

  .testing {
    left: 43%;
  }
}

@media all and (max-width:1150px) {
  h1 {
    font-size: 1.7rem;
  }

  .testing {
    left: 43%;
  }
}

@media all and (max-width:1050px) {
  h1 {
    font-size: 1.6rem;
  }
  
  
}

@media all and (max-width: 1024px) {
  h1 {
    font-size: 1.5rem;
  }

  .testing {
    left: 40%;
  } 
  
  .lp-Line1 img {
    width: 80%;
    height: auto;
  }
}

@media all and (max-width:900px) {
  
}

@media all and (max-width:800px) {
  h1 {
    font-size: 1.3rem;
  }
}

@media all and (max-width:720px) {
  h1 {
    font-size: 2.5rem;
  }

  .lp-Line1 {
    flex-direction: column;
    align-items: center;
  }

  .lp-Line1 article {
    width: 100%;
    margin-bottom: 4rem;
  }

  .testing  {
    left: 40%;
    font-size: 1.2rem;
  }
}

@media all and (max-width:650px){
  .testing {
    left: 40%;
    font-size: 1.2rem;
  }
}

@media all and (max-width:600px){
  .testing {
    left: 38%;
    font-size: 1.2rem;
  }
}

@media all and (max-width:480px) {
  h1 {
    font-size: 1.5rem;
  }

  .testing {
    left: 35%;
    font-size: 0.9rem;
  }
}

@media all and (max-width:360px) {
  h1 {
    font-size: 1rem;
  }

  .testing {
    left: 35%;
    font-size: 0.7rem;
  }

}