html body {
  background-color: rgba(0, 0, 0, 0.845);
}

.formLoging {
  text-align: center;
}

.formLoging label {
  color: white;
}
.avatarPic img {
  height: 100px;
  width: 100px;
  margin-top: 0;
}
.infoForm {
  color: white;
}
