<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/login.css">
  <title>Document</title>
</head>
<body>
  <section class="avatarPic">
    <img src="../images/vraagteken.png" />
  </section>
  <%- include('partials/header')%>
  <h1 class="infoForm">You have logged in with the following information:</h1>
  <code class="infoForm">
    <p>Name:<%=info.fname %> <%=info.lname %></p>
  </code>
</body>
</html>